<nav  class="navbar navbar-expand-lg navbar-light"  style="background-color: #b3cbdd;">
<a  class="navbar-brand"  href="#">Angular Developer</a>
<div  class="collapse navbar-collapse"  id="navbarText">
<ul  class="navbar-nav ml-auto" >
<li  class="nav-item">
<a  class="nav-link"  routerLink="/home">Home</a>
</li>
<li  class="nav-item">
<a  class="nav-link"  routerLink="/about">About</a>
</li>
<li  class="nav-item">
<a  class="nav-link"  routerLink="/contact">Contact</a>
</li>
<li  *ngIf="!isLoggedIn()" class="nav-item">
<a  class="nav-link"  routerLink="/admin/registro">Registro</a>
</li>
<li *ngIf="isLoggedIn()" class="nav-item">
<a  class="nav-link"  routerLink="/admin/profile">Perfil</a>
</li>
<li *ngIf="!isLoggedIn()" class="nav-item">
<a  class="nav-link"  routerLink="/admin/list">Login</a>
</li>
<li *ngIf="isLoggedIn()" class="nav-item">
<a  class="nav-link"  routerLink="/admin/list">Admin</a>
</li>
<li  *ngIf="isLoggedIn()" class="nav-item">
    <a class="nav-link"  (click)="salir()">Logout</a>
</li>

</ul>
</div>
</nav>
<router-outlet></router-outlet>


